<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} :: noprogress</title>
        {% assets "css_all" %}<link href="{{ASSET_URL}}" rel="stylesheet">{% endassets %}
    </head>
    <body ng-app="noprogress" ng-cloak>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar" ng-controller="NavBarCtrl">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="{{url_for('.home')}}">noprogress.</a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider" ng-show="loggedInUser != null"></li>
                            <li class="has-dropdown" ng-show="loggedInUser != null">
                                <a href="#"><%= loggedInUser %></a>
                                <ul class="dropdown">
                                    <li><a href="#" ng-click="clearLogs()" eat-click>Clear Logs</a></li>
                                    <li><a href="#" ng-click="deleteUser()" eat-click>Delete User</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" ng-click="signout()" eat-click>Sign Out</a></li>
                                </ul>
                            </li>
                            <li ng-show="loggedInUser == null">
                                <a href="#" id="signin" ng-click="signin()" eat-click><img src="{{url_for('static', filename='img/persona.png')}}"></a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="row">
            <hr />
            <div class="large-8 columns">
                Y-you too…
            </div>
            <div class="large-4 small-8 columns text-right">
                <a href="http://github.com/noprogress/noprogress">Fork me on GitHub!</a>
            </div>
        </footer>
        <script src="https://login.persona.org/include.js"></script>
        <script>window.loggedInUser={{identity_email | tojson | safe}}</script>
        {% assets "js_all" %}<script src="{{ASSET_URL}}"></script>{% endassets %}
    </body>
</html>
