<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>noprogress</title>
        {% assets "css_all" %}<link href="{{ASSET_URL}}" rel="stylesheet">{% endassets %}
    </head>
    <body ng-app="noprogress" ng-cloak>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar" ng-controller="NavBarCtrl">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="{{url_for('.home')}}">noprogress.</a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider" ng-show="identity != null"></li>
                            <li class="has-dropdown" ng-show="identity != null">
                                <a href="#"><%= identity %></a>
                                <ul class="dropdown">
                                    <li><a href="/api/workout?format=swol">Export Logs</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" ng-click="clearLogs()" eat-click>Clear Logs</a></li>
                                    <li><a href="#" ng-click="deleteUser()" eat-click>Delete User</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" ng-click="signout()" eat-click>Sign Out</a></li>
                                </ul>
                            </li>
                            <li ng-show="identity == null">
                                <a href="#" id="signin" ng-click="signin()" eat-click><img src="{{url_for('static', filename='img/persona.png')}}"></a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>

        <div ng-switch="identity != null">
            <div class="row" ng-switch-when="false">
                <div class="large-12 columns">
                    <h2>Hey there.</h2>
                    <h4 class="subheader">Welcome to the premier bespoke <em>avant-garde</em> handcrafted training logger made with love.</h4>
                </div>
            </div>

            <div id="app" ng-switch-when="true">
                <div class="row">
                    <div class="large-12 columns">
                        <form class="panel" ng-controller="MultiLogCtrl" name="multiLogForm" ng-submit="doMultiLog(multiLogForm)" novalidate ng-show="powerUser">
                            <div class="row">
                                <div class="large-12 columns">
                                    <textarea ng-model="logs" placeholder="Example: 2013-06-15|Squat@120.0x5+120.0x5+120.0x5,Overhead Press@40.0x5+40.0x5+40.0x5,Power Clean@50.0x3+50.0x3+50.0x3+50.0x3+50.0x3" required swol name="logs" ng-class="{error: multiLogForm.logs.$error.syntax}"></textarea>
                                    <small class="error" ng-show="multiLogForm.logs.$error.syntax">Syntax error</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns text-right">
                                    <button class="button" type="submit" ng-disabled="!multiLogForm.$valid">Log Workout</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <a href="#" ng-click="disablePowerUser()" eat-click>Tabular Mode &raquo;</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="large-12 columns">
                        <form class="panel" ng-controller="LogWorkoutCtrl" name="logForm" ng-submit="doLog(logForm)" novalidate ng-show="!powerUser">
                            <div class="row">
                                <div class="large-2 columns">
                                    <label for="date" ng-class="{error: !logForm.date.$valid && !logForm.date.$pristine}">Date</label>
                                    <input type="text" id="date" fdatepicker data-date-format="yyyy-mm-dd" ng-model="workout.date" name="date" required ng-class="{error: !logForm.date.$valid && !logForm.date.$pristine}" readonly>
                                    <small class="error" ng-show="!logForm.date.$pristine && logForm.date.$error.required">Required</small>
                                </div>
                                <div class="large-10 columns">
                                    <label for="comment">Comment</label>
                                    <input type="text" id="comment" ng-model="workout.comment">
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <table>
                                        <thead>
                                            <th></th>
                                            <th width="150">Lift</th>
                                            <th width="250">Sets</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="lift in workout.lifts">
                                                <ng-form name="liftName">
                                                    <td>
                                                        <a href="#" ng-click="removeLift(lift)" eat-click><i class="foundicon-remove"></i></a>
                                                    </td>
                                                    <td>
                                                        <select ng-model="lift.type" ng-options="n.raw as n.friendly for n in liftTypes" name="type" required ng-class="{error: !liftForm.type.$valid && !liftForm.type.$pristine}"></select>
                                                    </td>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                                <tr ng-repeat="set in lift.sets">
                                                                    <td>
                                                                        <a href="#" ng-click="removeSet(lift)" eat-click><i class="foundicon-remove"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <ng-form name="setForm">
                                                                            <div class="row collapse">
                                                                                <div class="large-5 columns">
                                                                                    <input type="number" ng-model="set.weight" min="0" name="weight" required ng-class="{error: !setForm.weight.$valid && !setForm.weight.$pristine}">
                                                                                </div>
                                                                                <div class="large-2 columns">
                                                                                    <span class="postfix">kg</span>
                                                                                </div>
                                                                                <div class="large-2 columns">
                                                                                    <span class="prefix">x</span>
                                                                                </div>
                                                                                <div class="large-3 columns">
                                                                                    <input type="number" ng-model="set.reps" min="0" name="reps" required ng-class="{error: !setForm.reps.$valid && !setForm.reps.$pristine}">
                                                                                </div>
                                                                            </div>
                                                                        </ng-form>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <a href="#" ng-click="addSet(lift)" eat-click><i class="foundicon-plus"></i> Add Set</a>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </td>
                                                </ng-form>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <a href="#" ng-click="addLift()" eat-click><i class="foundicon-plus"></i> Add Lift</a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns text-right">
                                    <button class="button" type="submit" ng-disabled="!logForm.$valid">Log Workout</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <a href="#" ng-click="enablePowerUser()" eat-click>Power User Shorthand Mode &raquo;</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <workoutchart></workoutchart>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns" ng-controller="StrStdCtrl" ng-show="liftNames.length > 0">
                        <aside class="panel">
                            <ul class="side-nav">
                                <li ng-repeat="lift in liftNames" ng-show="last[lift]">
                                    <h4><%= lift | liftName %> <small><%= roundedOnerms[lift] %>kg</small></h4>
                                    <div class="progress"><span class="meter" ng-style="{width: percents[lift] + '%'}"></span></div>
                                    <div style="position: relative; height: 32px; font-size: 0.6em">
                                        <div style="position: absolute; left: 0;">Untrained<br><%= grades[lift].untrained %>kg</div>
                                        <div style="position: absolute; left: 25%; width: 100px; text-align: center; margin-left: -50px;">Novice<br><%= grades[lift].novice %>kg</div>
                                        <div style="position: absolute; left: 50%; width: 100px; text-align: center; margin-left: -50px;">Intermediate<br><%= grades[lift].intermediate %>kg</div>
                                        <div style="position: absolute; left: 75%; width: 100px; text-align: center; margin-left: -50px;">Advanced<br><%= grades[lift].advanced %>kg</div>
                                        <div style="position: absolute; right: 0; text-align: right;">Elite<br><%= grades[lift].elite %>kg</div>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                    </div>

                    <div class="large-8 columns" ng-controller="WorkoutsCtrl" ng-show="workouts.length > 0">
                        <div class="row">
                            <div class="large-12 columns">
                                <ul class="pagination">
                                    <li class="arrow" ng-class="{unavailable: currentPage == 1}"><a href="#" ng-click="previousPage()" eat-click>&laquo;</a></li>
                                    <li ng-repeat="page in pages" ng-class="{current: page == currentPage}"><a href="#" ng-click="goToPage(page)" eat-click><%= page %></a></li>
                                    <li class="arrow" ng-class="{unavailable: currentPage == totalPages}"><a href="#" ng-click="nextPage()" eat-click>&raquo;</a></li>
                                </ul>

                                <table class="workouts">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th width="100">Date</th>
                                            <th width="400"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="workout in workouts">
                                            <td><a href="#" ng-click="removeWorkout(workout.id)" eat-click><i class="foundicon-remove"></i></a></td>
                                            <td><%=workout.date %></td>
                                            <td>
                                                <table>
                                                    <thead>
                                                        <th width="150">Lift</th>
                                                        <th width="250">Sets</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="lift in workout.lifts">
                                                            <td>
                                                                <%= lift.type | liftName %>
                                                            </td>
                                                            <td>
                                                                <table width="250">
                                                                    <tbody>
                                                                        <tr ng-repeat="set in lift.sets">
                                                                            <td>
                                                                                <%= set.weight %>kg x <%= set.reps %>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <blockquote ng-show="workout.comment"><%= workout.comment %></blockquote>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="clearLogsModal" class="reveal-modal" ng-controller="DialogCtrl">
            <h2>Clear all your logs?</h2>
            <p class="lead">Are you sure? You can't recover these!</p>
            <p>
                <button class="secondary" ng-click="dismissClearLogs()">Whoops, no!</button>
                <button class="alert" ng-click="confirmClearLogs()">Yes, I'm serious!</button>
            </p>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <footer class="row">
            <hr />
            <div class="large-8 columns">
                Y-you too…
            </div>
            <div class="large-4 small-8 columns text-right">
                <ul class="inline-list right">
                    <li><a href="https://github.com/noprogress/noprogress/issues">Report a bug</a></li>
                    <li><a href="http://github.com/noprogress/noprogress">Fork me on GitHub!</a></li>
                </ul>
            </div>
        </footer>
        <script src="https://login.persona.org/include.js"></script>
        <script>window.identity={{identity_email | tojson | safe}}</script>
        {% assets "js_all" %}<script src="{{ASSET_URL}}"></script>{% endassets %}
    </body>
</html>
