{% extends "_layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="app" ng-app="noprogress" ng-cloak>
    <div class="row">
        <div class="large-12 columns">
            <form class="panel" ng-controller="MultiLogCtrl" name="multiLogForm" ng-submit="doMultiLog(multiLogForm)" novalidate ng-show="powerUser">
                <div class="row">
                    <div class="large-12 columns">
                        <textarea ng-model="logs" placeholder="Example: 2013-06-15|Squat@120.0x5+120.0x5+120.0x5,Overhead Press@40.0x5+40.0x5+40.0x5,Power Clean@50.0x3+50.0x3+50.0x3+50.0x3+50.0x3" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns text-right">
                        <button class="button" type="submit" ng-disabled="!multiLogForm.$valid">Log Workout</button>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <a href="#" ng-click="disablePowerUser()" eat-click>Tabular Mode &raquo;</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="large-12 columns">
            <form class="panel" ng-controller="LogWorkoutCtrl" name="logForm" ng-submit="doLog(logForm)" novalidate ng-show="!powerUser">
                <div class="row">
                    <div class="large-2 columns">
                        <label for="date">Date</label>
                        <input type="text" id="date" fdatepicker data-date-format="yyyy-mm-dd" ng-model="workout.date" required>
                    </div>
                    <div class="large-10 columns">
                        <label for="comment">Comment</label>
                        <input type="text" id="comment" ng-model="workout.comment">
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <table>
                            <thead>
                                <th></th>
                                <th>Lift</th>
                                <th ng-repeat="i in maxSetsRange">Set <%= i %></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lift in workout.lifts">
                                    <td>
                                        <a href="#" ng-click="removeLift(lift)" eat-click><i class="foundicon-remove"></i></a>
                                    </td>
                                    <td>
                                        <select ng-model="lift.name" ng-options="n as api.liftNames[n] for n in api.lifts" required></select>
                                    </td>
                                    <td ng-repeat="set in lift.sets" width="150">
                                        <div class="row collapse">
                                            <div class="large-5 columns">
                                                <input type="number" ng-model="set.weight" required>
                                            </div>
                                            <div class="large-2 columns">
                                                <span class="postfix">kg</span>
                                            </div>
                                            <div class="large-2 columns">
                                                <span class="prefix">x</span>
                                            </div>
                                            <div class="large-3 columns">
                                                <input type="number" ng-model="set.reps" required>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="<%= maxSets - lift.sets.length + 1 %>">
                                        <a href="#" ng-click="addSet(lift)" eat-click><i class="foundicon-plus"></i></a><br/ >
                                        <a href="#" ng-click="removeSet(lift)" eat-click ng-show="lift.sets.length > 0"><i class="foundicon-minus"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="<%= maxSets + 3 %>">
                                        <a href="#" ng-click="addLift()" eat-click><i class="foundicon-plus"></i> Add Row</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns text-right">
                        <button class="button" type="submit" ng-disabled="!logForm.$valid">Log Workout</button>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <a href="#" ng-click="enablePowerUser()" eat-click>Power User Shorthand Mode &raquo;</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <workoutchart></workoutchart>
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns" ng-controller="StrStdCtrl" ng-show="hasLifts">
            <aside class="panel">
                <ul class="side-nav">
                    <li ng-repeat="lift in api.lifts" ng-show="last[lift]">
                        <h4><%= api.liftNames[lift] %> <small><%= roundedOnerms[lift] %>kg</small></h4>
                        <div class="progress"><span class="meter" ng-style="{width: percents[lift] + '%'}"></span></div>
                        <div style="position: relative; height: 32px; font-size: 0.6em">
                            <div style="position: absolute; left: 0;">Untrained<br><%= grades[lift].untrained %>kg</div>
                            <div style="position: absolute; left: 25%; width: 100px; text-align: center; margin-left: -50px;">Novice<br><%= grades[lift].novice %>kg</div>
                            <div style="position: absolute; left: 50%; width: 100px; text-align: center; margin-left: -50px;">Intermediate<br><%= grades[lift].intermediate %>kg</div>
                            <div style="position: absolute; left: 75%; width: 100px; text-align: center; margin-left: -50px;">Advanced<br><%= grades[lift].advanced %>kg</div>
                            <div style="position: absolute; right: 0; text-align: right;">Elite<br><%= grades[lift].elite %>kg</div>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>

        <div class="large-8 columns" ng-controller="WorkoutsCtrl" ng-show="workouts.length > 0">
            <div class="row">
                <div class="large-12 columns">
                    <ul class="pagination">
                        <li class="arrow" ng-class="{unavailable: currentPage == 1}"><a href="#" ng-click="previousPage()" eat-click>&laquo;</a></li>
                        <li ng-repeat="page in pages" ng-class="{current: page == currentPage}"><a href="#" ng-click="goToPage(page)" eat-click><%= page %></a></li>
                        <li class="arrow" ng-class="{unavailable: currentPage == totalPages}"><a href="#" ng-click="nextPage()" eat-click>&raquo;</a></li>
                    </ul>

                    <table class="workouts">
                        <thead>
                            <tr>
                                <th width="10"></th>
                                <th width="100">Date</th>
                                <th width="150" ng-repeat="lift in api.lifts"><%= api.liftNames[lift] %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workout in workouts">
                                <td><a href="#" ng-click="removeWorkout(workout.id)" eat-click><i class="foundicon-remove"></i></a></td>
                                <td><%=workout.date %></td>
                                <td ng-repeat="lift in api.lifts" ng-bind-html-unsafe="workout.liftSetsMap[lift] | reprSets"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tail %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{url_for('static', filename='js/foundation-datepicker.js')}}"></script>
<script src="{{url_for('static', filename='app/swolparser.js')}}"></script>
<script src="{{url_for('static', filename='app/main.js')}}"></script>
{% endblock %}
